version: '3.3'
services:
  app:
    container_name: monorepo-container-hmr-services
    build:
      context: ./
      dockerfile: ./docker/Dockerfile
      args:
        APP: app
        APP_PORT: 4444
    volumes:
      - ./:/usr/node/app
      - /usr/node/app/.fusebox
      - /usr/node/app/node_modules
      - /usr/node/app/packages/node_modules/monorepo-app/node_modules
    ports:
      - "4444:4444"
    tty: true