{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles",
          "src": "./src",
          "main": "./src/main",
          "grid": "./src/grid"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "presets": [
    "next/babel",
    [
      "env",
      {
        "targets": {
          "browsers": [">5%", "last 4 versions", "not ie < 11"]
        }
      }
    ],
    "stage-0"
  ],
  "ignore": []
}
